<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		    <%= link_to image_tag("ten4ten_logo.png", alt: "ten4ten"), root_path %>
			<!--<%= link_to "ten4ten", '#', id: "logo" %>-->
			<nav>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
					  <li><%= link_to "Home", root_path %></li>
					  <li><%= link_to "Help", help_path %></li>
					  <li><%= link_to "Sign out", signout_path %></li>
					<% else %>
 					  <li><%= link_to "Sign in", login_path %></li>
 					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
